@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800&display=swap');



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS Reset*/
/**/
/**/




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
}

header {
  background-color: #3C3B3A;
  margin: auto;
}

header img {
  width: 88px;
  height: auto;
}

/*styles the nav in the header*/
header nav ul li {
  border-bottom: 1px solid white;
}

header nav ul li a {
  display: block;
  text-decoration: none;
  padding: 1em;
  background-color: #3C3B3A;
  color: white;
  transition: .5s ease-in-out;
}

header nav ul li a:hover {
  background-color: #707078;
  transition-duration: .2s;
  letter-spacing: 2px;
  cursor: pointer;
}

.active {
  font-weight: bold;
}

/*styles the nav in the header*/

/* dropdown menu styling*/
.menu-items {
  display: none;
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
}
/* sets a display of none so that the menu items (nav) are not seen while the dropdown menu is not active */

.drop:hover .menu-items {
  z-index: 1;
  display: block;
}

/*sets the display to block when the menu button is hovered on to have it display, Then sets a z-index of 1 to have the menu to display on top of the other content on the page */

nav button {
  padding: .5em 2.5em;
  width: 100%;
  text-decoration: none;
  color: white;
  background-color: rgb(51, 51, 50);
  border: none;
  border-bottom: 1px solid white;
}
/* styles the button for the drop down menu as well as the submit button on the contact form*/

button:hover {
  background-color: #707078;
  transition-duration: .3s;
  cursor: pointer;
}
/* adds a hover effect to the buttons*/

button:hover img {
  animation: rotateMenu 0.4s ease-in backwards;
}
/*Adds an animation to the dropdown menu*/
/* ^^^dropdown menu styling^^^ */


img {
  width: 100%;
  height: auto;
}

p {
  line-height: 35px;
  color: #3C3B3A;
  font-size: 16px;
}

h1 {
  color: #3C3B3A;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 40px;
  font-weight: bold;
}
h2 {
  margin-top: 30px;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  color: #3C3B3A;
}
h3 {
  margin-top: 10px;
  color: #26A682;
  font-weight: 500;
  font-size: 24px;
}

h4 {
  font-size: 40px;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}

h5 {
  font-size: 32px;
  color: #3C3B3A;
  font-weight: 500;
}

h6 {
  font-size: 24px;
  font-weight: 500;
  color: #3C3B3A;
}

.header-img {
  display: flex;
  justify-content: center;
}

h1, p, .disc-icon, h2, h3, h5, h6, .green-btn, .disc-img, .green-btn-LG, .contact-form {
  margin-left: 36px;
  margin-right: 36px;
}

.contact-us img {
  width: calc(100% - 72px);
  margin-left: 36px;
  margin-right: 36px;
  display: block;
  margin-bottom: 15px;
}

.disc-icon {
  margin-top: 21px;
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 21px;
  justify-content: space-between;
}

.disc-icon a {
  display: grid;
  align-content: space-around;
  justify-items: center;
  justify-content: space-around;
  color: #26A682;
}

.disc-icon a:nth-child(2) {
  grid-column: 3 / 4;
}

.disc-icon a:nth-child(4) {
  grid-column: 3 / 4;
}

.disc-icon img{
  width: 39px;
  height: auto;
  color: #3C3B3A;
}

.green-btn-LG {
  width: calc(100% - 72px);
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: #26A682;
  border: none;
  border-radius: 2.5em;
  font-family: 'Raleway';
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 30px;
  box-shadow: 0px 15px 20px rgba(18, 74, 58, 0.479);
}

.green-btn {
  width: calc(50% - 36px);
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #26A682;
  border: none;
  border-radius: 2.5em;
  font-family: 'Raleway';
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-left: 50%;
  box-shadow: 0px 15px 20px rgba(18, 74, 58, 0.479);
}

.green-btn-LG:hover, .green-btn:hover {
  background-color: rgb(21, 100, 78);
  animation: buttonBounce 1s ease-in backwards;
}

.disc-img {
  margin-top: 30px;
}

.sa-president {
  background-color: #3C3B3A;
  margin-top: 35px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.sa-title {
  width: 50%;
  margin: auto;
}

.sa-title img {
  margin-top: 30px;
  border: 5px solid #F2F2F2;
  border-radius: 100%;
  width: 175px;
  height: auto;
  display: block;
  margin: auto;
}
.sa-president p {
  color: white;
}
.sa-title p{
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  text-align: center
}


.n-a-b img,.comp-fr img, .n-y-n-m img, .ind-climb img{
  display: none;
} 

.who-what-where {
  background-color: #F2F2F2;
  padding-top: 25px;
}

.n-a-b, .comp-fr, .n-y-n-m, .ind-climb {
  padding-top: 25px;
}

.comp-fr {
  background-color: #F2F2F2;
}

.subscribe {
  background-color: #3C3B3A;
  text-align: center;
}

.subscribe button {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #26A682;
  border: none;
  border-radius: 2.5em;
  font-family: 'Raleway';
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.subscribe p {
  color: white;
  padding-top: 14px;
}

.ind-climb {
  background-color: #F2F2F2;
}

.special-th {
  text-align: center;
  font-size: 56px;
}

.special-img img{
  display: block;
  margin: auto;
  margin-top: 40px;
}

.special-img img:nth-child(1){
  width: 301px;
  height: auto;
}

.special-img img:nth-child(2){
  width: 202px;
  height: auto;
}

.special-img img:nth-child(3){
  width: 220px;
  height: auto;
}

.special-img img:nth-child(4){
  width: 152px;
  height: auto;
}

.green-img1 {
  background-image: url(../img/about.jpg);
  height: 200px;
  background-size: cover;
  margin-top: 25px;
}

.green-img2 {
  background-image: url(../img/services.jpg);
  height: 200px;
  background-size: cover;
}

.green-img1 h4, .green-img2 h4 {
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 75px;
}

.who-what-where {
  padding-bottom: 40px;
  margin-bottom: -25px;
}

.contact-us img {
  margin-top: 13px;
}

/* Contact Form */

.contact-form {
  background-color: #26A682;
  color: white;
  border-radius: 1em;
  border: none;
  width: 100%;
  padding: 15px;
  width: calc(100% - 72px);
  box-shadow: 5px 5px 10px rgba(18, 74, 58, 0.379);
  margin-bottom: 50px;
}

.contact-form fieldset {
  border: none;
  display: block;
  margin: auto;
}

.contact-form fieldset input, .contact-form fieldset textarea {
  width: 100%;
  resize: none;
  margin: auto;
  padding: 0.6em;
  border-radius: 2.5em;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contact-form fieldset textarea {
  border-radius: 0.8em;
  height: 100px;
}

form button {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #3C3B3A;
  border: none;
  border-radius: 2.5em;
  font-family: 'Raleway';
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: 0px 15px 20px rgba(18, 74, 58, 0.479);
}
/* ^^Contact Form^^ */

.location iframe {
  margin-top: 25px;

}

.scroll-arrow {
  display: none;
}

/*Footer Styles*/
footer {
  background-color: #3C3B3A;
  margin-top: 35px;
}

.media-icon img {
  width: 25px;
  height: auto;
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 6px;
}

.media-icon img:nth-child(5){
  width: 30.5px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 190px 1fr;
  grid-template-rows: 1fr;
  padding-top: 32px;
  padding-bottom: 32px;

}

footer p {
  color: white;
  font-size: 24px;
  margin: 0;
}

footer a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 9px;
  margin-top: 12px;
  width: 47px;
  justify-self: end;
  margin-right: 19px;
}

.media-icon {
  grid-column: 2 / 3;
  text-align: center;
}

footer a img {
  width: 22.2px;
  height: auto; 
  margin: 5px;
}
/* ^^^ Footer STyles ^^^*/

@media (min-width: 700px) {
  .dropbtn {
    display: none;
  }
  
  #menu-items {
    display: inline-flex;
    position: relative;
    text-decoration: none;
    justify-content: flex-end;
    padding-right: 80px;
    list-style-type: none;
  }

  header {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2 , 1fr);
    align-items: center;
  }

  .header-img {
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
  }

  header nav ul li {
    border-bottom: none;
  }

  h1, p, .disc-icon, h2, h3, h5, h6, .green-btn, .disc-img, .green-btn-LG, .contact-form {
    margin-left: 80px;
    margin-right: 80px;
  }

  p {
    font-size: 24px;
  }

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .location p {
    font-size: 16px;
  }

  .contact-form {
    width: calc(100% - 160px);
  }
  .contact-us img {
    width: calc(100% - 160px);
    margin-left: 80px;
    margin-right: 80px;
  }

  .contact-form {
    padding-left: 46px;
    padding-right: 46px;
  }

  .contact-form fieldset textarea {
    height: 148px;
  }

  .green-btn-LG {
    width: 300px;
  }

  .center-btn {
    display: grid;
    justify-items: center;
  }

  .disc-icon {
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
  }

  .disc-icon a:nth-child(2) {
    grid-column: 2 / 3;
  }

  .disc-icon a:nth-child(4) {
    grid-column: 4 / 5;
  }

  .green-btn {
    width: 33.33%;
    margin-left: calc(66.666% - 80px);
  }

  .sa-president {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .sa-text p {
    margin-left: 15px;
    line-height: 30px;
    margin-top: calc(5vw);
  }

  .who-what-where p {
    font-size: 18px;
  }

  .sa-title {
    display: grid;
    grid-template-rows: 1fr 50px;
    grid-template-columns: 200px;
    margin-top: calc(4vw);
  }

  .n-a-b img,.comp-fr img, .n-y-n-m img, .ind-climb img{
    display: block;
  } 

  .n-a-b, .n-y-n-m {
    display: grid;
    grid-template-columns: 340px 1fr;
  }

  .comp-fr, .ind-climb {
    display: grid;
    grid-template-columns: 1fr 340px;
  }


  
  .n-a-b picture img, .n-y-n-m picture img {
    padding-left: 80px;
    margin-bottom: 20px;

  }

  .n-a-b div p, .n-y-n-m div p, .comp-fr div p, .ind-climb div p {
    font-size: 18px;
  }

  .comp-fr picture img, .ind-climb picture img {
    padding-right: 80px;
    margin-bottom: 20px;

  }

  .n-a-b div h5, .n-a-b div h3, .n-a-b div p, .n-y-n-m div h5, .n-y-n-m div h3, .n-y-n-m div p{
    margin-left: 16px;
  }

  .comp-fr div h5, .comp-fr div h3, .comp-fr div p, .ind-climb div h5, .ind-climb div h3, .ind-climb div p{
    margin-right: 16px;
  }



  .contact-btn {
    width: 45%;
    display: block;
    margin-left: 55%;
  }

  .subscribe button {
    margin-left: 60px;
  }
}

@media (min-width:960px) {

  .home-header {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    align-items: center;
    padding-top: 80px;
  }

  .construct-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: center;
    align-items: center;
    padding-top: 80px;
  }

  .location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 80px;
  }

  .disc-grid {
    background-color: #F2F2F2;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .n-a-b, .n-y-n-m {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .comp-fr, .ind-climb {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
  }

  .n-a-b picture img, .n-y-n-m picture img {
    width: 100%;
    height: auto;
  }
 

  .scroll-arrow {
    display: block;
    display: flex;
    justify-content: center;
  }

  .scroll-arrow a {
    text-align: center;
    text-decoration: none;
    color: black;
    width: 50px;
    margin-bottom: 30px;
  }

  .scroll-arrow img {
    width: 50px;
    height: auto;
    transform: rotate(180deg);
  }

  .special-img {
    display: flex;
    justify-content: space-between;
  }

  iframe {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 40px;
  }

  footer {
    margin-top: 0;
  }

  .sa-president {
    margin-top: 0;
  }

  .disc-grid {
    padding-top: 0;
  }

}

@media (min-width: 1200px) {

  .who-what-where {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
  }

  .disc-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #F2F2F2;
    padding-left: 80px;

    padding-top: 80px;
    padding-bottom: 80px;
  }

  .disc-grid-2 div {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .disc-grid-2 div h2, .disc-grid-2 div h3, .disc-grid-2 div p {
    margin-left: 0;

  }

  .disc-grid-2 picture {
    grid-column: 2 / 3;
    padding-right: 80px;
  }

  .sa-title {
    display: grid;
    grid-template-columns: 100px 300px;
    align-items: center;
  }

  .sa-title p {
    margin-left: calc(35px + 3vw);
  }

  .sa-president {
    margin-top: 0;
    margin-bottom: 0;
  }
  .sa-text {
    padding-left: 10px;
  }
  
  .who-what-where {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .n-a-b, .n-y-n-m, .comp-fr, .ind-climb {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .special-th {
    padding-right: 32%;
    padding-left: 32%;
    padding-top: 140px;
  }

  .special-img {
    padding-bottom: 140px;
  }
}

/* KeyFrames for Animations */
@keyframes rotateMenu {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes buttonBounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-10px);
  }
  85% {
    transform: translateY(0px);
  }
  92% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }

}
/*Dropdown menu animation*/
/* ^^^ KeyFrames for Animations ^^^ */